/*-- Fonts Import url --*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto:wght@300&family=Varela+Round&display=swap');

/*-- Page and Body generic styling --*/
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-image: radial-gradient(circle, #fdbb2d 0%, orange 15%, aquamarine 80%); 
}

/*-- Home Page Styling Section --*/
#home-h {
    padding-bottom: 40px;
}
.home-p {
    text-align: center;
    margin: 0 auto;
    max-width: 70vw;
    padding: 5px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#div-input {
    padding: 1%;
    margin-bottom: 5px;
}

input {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    
}

#start-game {
    width: 110px;
    height: 70px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30%;
    border: 1px solid black;
    color: black;
    font-size: 30px;
    bottom: 20px;
    margin: auto;
    cursor: pointer;
}
/*-- This hides the page --*/
#start-page {
    display: none;
}
/*-- End of Home Page section styling--*/

/*-- Main Game Section Styling --*/
h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    font-size: calc(26px + (32 - 26) * ((100vw - 300px) / (1440 - 300)));

}

/*-- General Block styling */
.content-block {
    max-width: 85%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 5px;

}

/*-- "Choose Your Weapon!" Subheading */
.subheading {
    text-align: center;
    font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1440 - 300)));
}

/*-- General Block styling expanded--*/
.block {
    display: flex;
}

.block > * {
    flex-basis: 100%;
}

.item {
    background: lightgreen;
    border: 3px solid black;
    text-align: center;
    font-size: 2.7rem;
    cursor: pointer;
}

/*-- Player/Computer display bar --*/
.player {
    background: lightgreen;
    border: 3px solid black;
    text-align: center;
    font-size: 1.8rem;
}
.vs {
    background: lightgreen;
    border: 3px solid black;
    text-align: center;
    max-width: 10%;
    padding-top: 3%;
}


/*-- Modal Styling --*/
.modal-outer {
    display: none;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: transparent
}

.modal-inner {
    background: #fff;
    margin: 0 auto;
    height: 20%;
    width: 50%;
    top: 40%;
    position: absolute;
    left: 25%;


}

#modalpara {
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-modal {
    float: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: absolute;
    right: 26.5%;
    top: 40%;
    z-index: 10;
}


#close-modal:hover {
    cursor: pointer;
    text-decoration: none;
}
/*-- End of Modal styling --*/

/*-- 'Arena styling --*/
.arena-block {
    background-color: lightgreen;
    border: 3px solid black;
    text-align: center;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayplayerchoice {
    font-size: 4rem;
    
}

/*-- WIN/LOSE/DRAW message --*/
#wl {
    max-width: 80%;
    margin: 0 auto;
    background: #fff;
    color: red;
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
    height: 5vh;
    padding-top: 4.5%;
}

/*-- Score Board --*/
#user-score, #comp-score {
    flex-basis: 80%;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    padding-top: 1%;
    background: lightskyblue;
}

.blocktwo {
    display: flex;
    max-width: 60px;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
    border: 2px solid black;
    font-size: 1.7rem;
    background: #fff;

}

/*-- Rounds box styling --*/
#rounds {
    background: #fff;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    height: 35px;
    width: 70px
}

#rounds-label {
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-- Green Reset button (div) --*/
#reset {
    width: 110px;
    height: 70px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30%;
    border: 1px solid black;
    color: black;
    font-size: 30px;
    bottom: 15px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

/*-- This hides the Game page until called on by JS --*/
#main {
    display: none;
}

/*-- Media Query section --*/

@media screen and (min-width: 425px) {
    .vs {
        padding-top: 1.5%;
    }
}

@media screen and (min-width: 768px) {

    .img {
        width: 50%;
    }

    .vs {
        padding-top: 1%;
    }

    #wl {
        padding-top: 1.5%;
    }
    
}

@media screen and (min-width: 1440px) {
    .vs {
        padding-top: 0.5%;
    }
} 

@media screen and (min-height: 900px) {
    
    .arena-block {
        height: 35vh;
    }
}
/* End of Media Query Section */